@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	/* background-color: #1e252e; */
	background-color: #051e26;
	width: 100%;
}

.principal-container {
	height: 3rem;
	display: flex;
	align-items: center;
	background: #083a3d;
	border-radius: 5px;
	margin: 10px;
	padding: 7.5px 10px;
}

.principal-container h2 {
	padding-right: 7.5px;
	font-size: 1.5rem;
	font-weight: 400;
	color: #e5e5eb;
}

.welcome-gif {
	width: auto;
	height: 100%;
}

.delivered-content {
	height: auto;
	display: flex;
	align-items: center;
	background: #08313d;
	border-radius: 5px;
	margin: 10px;
	padding: 10px 10px;
	color: #e5e5eb;
	overflow-x: auto;
}
