@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

.data-display {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.data-display div {
  width: 95%;
}
.data-display div .filters {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5px;
}
.data-display div .filters div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.data-display div .filters div .first-filter {
  margin-right: 20px;
}
.data-display div .filters .new-register {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 16;
  width: 60px !important;
  font-size: larger;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.data-display div .filters .new-register h3 {
  position: absolute;
  z-index: 15;
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  font-weight: 300;
  font-size: 15px;
  margin-right: 10px;
  transition: all 150ms ease-in-out;
  transform: translateX(-50%);
  background-color: #393e46;
  padding: 10px 20px;
  border-radius: 100px;
  cursor: default;
}
.data-display div .filters .new-register:hover {
  background-color: #4c535e;
}
.data-display div .filters .new-register:hover > h3 {
  visibility: visible;
  opacity: 1;
  transform: translateX(-75%);
}
.data-display div .table-content {
  overflow-x: auto;
  width: 100%;
}
.data-display div .table-content table {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  overflow-x: scroll;
}
.data-display div .table-content table thead {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.data-display div .table-content table thead tr th {
  font-weight: 500;
}
.data-display div .table-content table tbody {
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.data-display div .table-content table tbody tr td {
  font-weight: 300;
}
.data-display div .table-content table tbody tr td i {
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.data-display div .table-content table tbody tr td .table-icon-modify {
  color: #0866be;
}
.data-display div .table-content table tbody tr td .table-icon-modify:hover {
  color: #1b80df;
}
.data-display div .table-content table tbody tr td .table-icon-delete {
  color: #e4430e;
}
.data-display div .table-content table tbody tr td .table-icon-delete:hover {
  color: #d65a31;
}
.data-display div .table-content table .tg-0pky {
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 10px 15px !important;
}
.data-display div .table-content table .tg-0pky td {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.data-display div .table-content table .tg-0pky th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.data-display div .table-content table .tg-0pky .tg-0pky {
  border-color: inherit;
  text-align: center;
  vertical-align: middle;
}

.filter-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content !important;
  padding: 5px 20px;
  height: 100%;
  background-color: #393e46;
  border-radius: 100px;
  color: #eeeeee;
}
.filter-box button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.filter-box button i {
  color: #eeeeee;
  padding-left: 10px;
  font-size: 1.4em;
  transition: all 150ms ease-in-out;
}
.filter-box button i:hover {
  color: #b6b6b6;
}

.input-text {
  background-color: transparent;
  border: 0;
  font-size: 15px;
  outline: none;
  color: #eeeeee;
}
.input-text::placeholder {
  color: grey;
}
.input-text option {
  color: #1d1d1d;
}
.input-text option:first-child {
  color: #838383;
}

/*# sourceMappingURL=tabla.css.map */
