@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  grid-area: 1/1/2/2;
  margin-top: 50px;
}
.data-display div {
  width: 95%;
}
.data-display div .filters {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5px;
}
.data-display div .filters .hamburger-icon {
  width: 64px !important;
  top: 0 !important;
  left: 0 !important;
  margin-right: 20px;
}
.data-display div .filters .filters-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.data-display div .filters .filters-container .first-filter {
  margin-right: 20px;
}
.data-display div .filters .register-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 1s;
}
.data-display div .filters .register-container .new-register {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 16;
  width: 60px !important;
  font-size: larger;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.data-display div .filters .register-container .new-register h3 {
  position: absolute;
  z-index: 15;
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  font-weight: 300;
  font-size: 15px;
  margin-right: 10px;
  transition: all 150ms ease-in-out;
  transform: translateX(-50%);
  background-color: #393e46;
  padding: 10px 20px;
  border-radius: 100px;
  cursor: default;
}
.data-display div .filters .register-container .new-register:hover {
  background-color: #4c535e;
}
.data-display div .filters .register-container .new-register:hover > h3 {
  visibility: visible;
  opacity: 1;
  transform: translateX(-75%);
}
.data-display div .table-content {
  overflow-x: auto;
  width: 100%;
  max-height: 450px;
  overflow-y: auto;
  border-radius: 5px;
}
.data-display div .table-content table {
  width: 100%;
  background-color: #fff;
  overflow-x: scroll;
}
.data-display div .table-content table thead {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.data-display div .table-content table thead tr th {
  font-weight: 500;
}
.data-display div .table-content table tbody {
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.data-display div .table-content table tbody tr td {
  font-weight: 300;
}
.data-display div .table-content table tbody tr td i {
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.data-display div .table-content table tbody tr td .table-icon-modify {
  color: #0866be;
}
.data-display div .table-content table tbody tr td .table-icon-modify:hover {
  color: #1b80df;
}
.data-display div .table-content table tbody tr td .table-icon-delete {
  color: #e4430e;
}
.data-display div .table-content table tbody tr td .table-icon-delete:hover {
  color: #ce5228;
}
.data-display div .table-content table .tg-0pky {
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 10px 15px !important;
}
.data-display div .table-content table .tg-0pky td {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.data-display div .table-content table .tg-0pky th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.data-display div .table-content table .tg-0pky .tg-0pky {
  border-color: inherit;
  text-align: center;
  vertical-align: middle;
}

.modal-container {
  position: absolute;
  width: 700px;
  height: 500px;
  background: #1d1d1d;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(30px);
  transition: all 150ms ease-in-out;
}
.modal-container .modal-form {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-container .modal-form button {
  width: fit-content;
  position: relative;
  align-self: flex-end;
  padding: 10px 17.5px;
  margin: 5px;
  background-color: #ce5228;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #eeeeee;
  transition: all 100ms ease-in;
}
.modal-container .modal-form button:hover {
  background-color: #e6673d;
}
.modal-container .modal-form .modal-content h1 {
  font-weight: 300;
  padding-left: 10px;
  color: #eeeeee;
}
.modal-container .modal-form .modal-content .form-sections {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
}
.modal-container .modal-form .modal-content .form-sections .inputs-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 10px);
}
.modal-container .modal-form .modal-content .form-sections .inputs-column .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: calc(100% - 15px);
  border-bottom: 1px solid #5e5e5e;
}
.modal-container .modal-form .modal-content .form-sections .inputs-column .input-container input {
  padding: 0px 15px;
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 10px 15px 10px 0px;
  transition: all 150ms ease-in-out;
  outline: unset;
  color: white;
}
.modal-container .modal-form .modal-content .form-sections .inputs-column .input-container input:focus {
  padding: 10px 20px;
  color: #ce5228;
}
.modal-container .modal-form .modal-content .form-sections .inputs-column .input-container input:-webkit-autofill {
  padding: 10px 15px;
  background-color: transparent !important;
  border: 1px solid green;
}

.modal-container-active {
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}

.filter-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content !important;
  padding: 5px 20px;
  height: 100%;
  background-color: #393e46;
  border-radius: 100px;
  color: #eeeeee;
}
.filter-box button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.filter-box button i {
  color: #eeeeee;
  padding-left: 10px;
  font-size: 1.4em;
  transition: all 150ms ease-in-out;
}
.filter-box button i:hover {
  color: #b6b6b6;
}

.input-text {
  background-color: transparent;
  border: 0;
  font-size: 15px;
  outline: none;
  color: #eeeeee;
}
.input-text::placeholder {
  color: grey;
}
.input-text option {
  color: #1d1d1d;
}
.input-text option:first-child {
  color: #838383;
}

.grid-container {
  width: 100%;
  left: 0px;
  overflow: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 5px;
}

.container-waves {
  grid-area: 2/1/3/2;
}

/*# sourceMappingURL=tabla.css.map */
