$background: #222831;
$front-background: #393e46;
$front-background--hover: #4c535e;
$secondary-color: #d65a31;
$secondary-color--dark: #e4430e;
$modify-color: #0866be;
$modify-color--hover: #1b80df;
$primary-color: #eeeeee;
$white: #fff;
