@import "fonts";
@import "mixins";
@import "colors";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

header {
	width: 100%;
	height: 100%;
	background: $background;
	position: absolute;
	overflow: auto;
}

@keyframes shotup {
	0% {
		transform: translateY(300%);
		opacity: 0;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}

.main-content {
	position: absolute;
	top: 34%;
	left: 46%;
	right: 5%;
	width: 100%;
	transform: translate(-50%, -50%);
	text-align: center;
	@include displayFlex(column, center, flex-end);

	h1 {
		font-size: 40px;
		color: $primary-color;
		animation-delay: 300ms;
		animation: shotup 600ms ease-in-out;
		margin-bottom: 3rem;
	}

	.isometric-img {
		width: 300px;
		height: auto;
		animation: shotup 600ms ease-in-out;
		filter: drop-shadow(7px 6px 5px rgb(0 0 0 / 28%));
	}

	.table-container {
		animation: shotup 950ms ease-in-out;
	}
}
